header,
footer {
  background-color: #777;
  /* add dimension so i can see it, delete later */
  height: 30px;
}
/* From csstricks.com!! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
ul {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
            and if we allow the items to wrap 
        * Remember this is the same as:
        * flex-direction: row;
        * flex-wrap: wrap;
        */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0px;
  margin: 0px;
  list-style: none; /* removes bullet from list items */
}

li {
  background: #d10c0c;
  padding: 5px;
  /* Be very careful using px for dimensions as may stop responsiveness */
  width: 150px; /* width of box */
  height: 150px; /* height of box */
  margin-top: 10px;
  line-height: 150px; /* vertically centers text because matches height */
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
