.margin {
  margin: auto;
  padding: 12px;
  width: 1280px
}
body {
  background-color: #d3d3d3;
  font-family: "Poppins", sans-serif;
  font-weight: 275;
  font-style: normal;
}
menu {
  list-style: none;
}
div, body {
padding: 12px ;
color: #006400;
}
menu a, 
footer a {
  color: #006400;
  text-decoration: none;
}
menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
iframe {
  padding: 30px;
}
footer a {
  padding: 12px; 
}
a:hover {
  border-bottom: 2px solid #006400;
}
footer {
  margin-top: 20%;
  text-align: center;
}
