body {
  background-color: #d3d3d3;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: 35px;
  font-size: 1.5rem;
}
#wrapper {
  width: 1024px;
  margin: auto;
}
header {
  width: 1024;
  padding: 35px;
}
p {
  font-size: 1.5rem;;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
}
menu {
  list-style: none;
}
div,
body {
  padding: 12px;
  color: #006400;
}
menu a,
footer a {
  color: #006400;
  text-decoration: none;
}
menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}
ul {
  list-style: none;
}
.video-container {
  width: 560px;
  margin: auto;
  padding: 100px;
}
.emph {
  color: #8b0000;
  font-weight: 900;
}
.pic-container {
  display: flex;
  flex-direction: table-row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer a {
  padding: 12px;
}
a:hover {
  border-bottom: 2px solid #006400;
}
footer {
  margin-top: 5%;
  text-align: center;
}
