

a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}
