footer {
    background-color: rgba(145, 143, 143, 0.815); 
    padding: 2rem;
    border: 2px solid #000;
    text-align: center; 
}

footer a {
    color:green; 
    text-decoration: none;
}
footer a:hover {
    border-bottom: 1px solid black;
}